<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173682346083-s9vffpunqfl2vde7kai8090gqq69nq79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173682346083-s9vffpunqfl2vde7kai8090gqq69nq79</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TESv8xInOMOfG5qNN0kv72E5RANEXTY</string>
	<key>GCM_SENDER_ID</key>
	<string>173682346083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bluestackFlutterAssignment</string>
	<key>PROJECT_ID</key>
	<string>game-tv-test</string>
	<key>STORAGE_BUCKET</key>
	<string>game-tv-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173682346083:ios:d484d96f0e992555d99056</string>
</dict>
</plist>